/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.vscode

# Don't Include Mustache Cache
/storage/cache/mustache/*
!/storage/cache/mustache/.gitkeep 

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Don't Include .idea and DS_Store
.idea
.DS_Store

Procfile
_config.yml
build.sh
package-lock.json
resources/tests/intro/play.js
resources/tests/test.html
