{{#links}}
  <a href="{{link}}" data-guid="{{id}}" data-image="{{image}}" data-icon="{{icon}}" data-color="{{color}}" data-link="{{link}}" data-title="{{title}}" target="_blank" class="filterable list-group-item" style="color:#005A43">{{#icon}}<i style="color:{{color}}"  class="{{icon}}"></i>{{/icon}} {{#image}}<img height="16px" alt="{{title}}" src="{{image}}"/>{{/image}} {{title}}</a>
{{/links}}