<div>
	<div class="panel panel-default">
		{{>widgets__header}}
	</div>
	<div class="collapsible">
	<div class="slider-wrapper theme-default">
		<div class="ribbon"></div>
			<div class="slider" class="nivoSlider">
			{{#images}}
				{{#url}}<a href="{{url}}" {{#window}}target="_blank"{{/window}}>{{/url}}<img src="{{image}}" alt="{{text}}" title="{{&overlay}}"/>{{#url}}</a>{{/url}}
			{{/images}}
		</div>
	</div>
</div>