<div class="btn-group pull-right actions parent-hover" style="position:absolute;top:3px;right:3px;z-index:6">
	<span class="btn btn-default btn-sm fa-pencil fa wf-edit edit-item" title="Edit&nbsp;Settings"></span>
	<span class="btn btn-default btn-sm fa-eye fa wf-manage" data-event="manage" title="Visibility&nbsp;Settings"></span>
	{{#enable_min}}<span class="btn btn-default btn-sm ti-toggle wf-min" data-event="min" title="Minimize"></span>{{/enable_min}}
	<span class="btn btn-danger btn-sm fa fa-times wf-remove remove-item" title="Remove"></span>
  <!-- <span class="btn btn-default btn-sm fa fa-download wf-download" data-event="download" title="Download Summary"></span> -->
</div>
