<div class="panel panel-default">
	<div class="panel-heading" style="position:relative">
		<h3 class="panel-title"><i class="fa fa-list-ul"></i> {{title}}{{^title}}{{loaded.title}}{{^loaded.title}}{{{widgetType}}}{{/loaded.title}}{{/title}}  </h3>
	</div>
	<div class="panel-body collapsible">
		<div class="tab-pane chart" style="min-height:200px;">
		</div>
		<div class="legend"></div>
	</div>
</div>