<div class="btn-group pull-right actions parent-hover" style="position:absolute;top:3px;right:3px;z-index:6">
	{{#enable_min}}<span class="btn btn-default btn-sm ti-toggle wf-min" data-event="min" title="Minimize"></span>{{/enable_min}}
	{{#user_edit}}<span class="btn btn-default btn-sm fa fa-pencil wf-edit edit-item" data-event="user_edit"  title="Edit"></span>{{/user_edit}}
<!-- 	<span class="btn btn-default btn-sm fa fa-resize hidden-xs" data-event="full" title="Full Page"></span>
 -->
</div>
