<div class="panel panel-default">
	<div class="panel-heading" style="position:relative">
		<h3 class="panel-title"><i class="fa fa-list-ul"></i> {{title}}{{^title}}{{loaded.title}}{{^loaded.title}}{{{widgetType}}}{{/loaded.title}}{{/title}}  </h3>
	</div>
	<div class="panel-body collapsible" style="padding:0">
		<div class="list-group" style="margin-bottom:0">
		{{#loaded}}
		  <a href="javascript:void(0);" class="list-group-item">{{eventName}} 
				<abbr class="timeago pull-right" title="{{startDateTime}}"></abbr>
		  </a>
		{{/loaded}}
		</div>
	</div>
</div>