{{>widgets__limited_actions}}
{{#container}}
<div class="panel panel-default">
<div class="panel-heading" style="position:relative">
	<h3 class="panel-title">{{title}}{{^title}}{{loaded.name}}{{^loaded.name}}{{{widgetType}}}{{/loaded.name}}{{/title}}</h3>
</div>
	<div class="collapsible panel-body" style="overflow: auto;">
		<center><i class="fa fa-spinner fa-spin" style="font-size:60px;margin:40px auto;color:#eee"></i></center>
	</div>
</div>
{{/container}}
{{^container}}
	<div class="collapsible" style="overflow: auto;">
	</div>
{{/container}}