<div class="btn-group pull-right actions parent-hover">
			<span class="btn btn-default btn-sm fa-pencil fa edit-item" title="Edit&nbsp;Settings"></span>
			<span class="btn btn-default btn-sm fa-eye fa" data-event="manage" title="Visibility&nbsp;Settings"></span>
			<!--{{#enable_min}}<span class="btn btn-default btn-sm min-item fa fa-toggle" data-event="min" title="Minimize"></span>{{/enable_min}}-->
			<!-- 	<span class="btn btn-default btn-sm fa fa-resize hidden-xs" data-event="full" title="Full Page"></span>
			<span class="duplicate-item btn btn-sm btn-default fa fa-copy" data-title="Duplicate"></span>-->
			<span class="btn btn-danger btn-sm fa fa-times remove-item" title="Remove"></span>
</div>
