{{>widgets__limited_actions}}
{{#container}}
<div class="panel panel-default">
{{>widgets__header}}
	<div class="collapsible panel-body">
		<div>
		{{{text}}}
		</div>
	</div>
</div>
{{/container}}
{{^container}}
	<div class="collapsible">
			<div>
		{{{text}}}
		</div>
	</div>
{{/container}}