{{>widgets__limited_actions}}
{{#container}}
<div class="panel panel-default">
{{>widgets__header}}
{{/container}}
	<div class="collapsible panel-body" style="overflow: auto;">
		<div>
		{{{text}}}
		</div>
	</div>
{{#container}}
</div>
{{/container}}