<div class="panel panel-default">
	{{>widgets__header}}
	<center class="collapsible panel-body">
		{{#image}}
			<img alt="{{text}}" src="{{image}}" style="max-width:100%;margin-bottom:20px">
		{{/image}}
		{{^image}}Click Here to choose an Image{{/image}}
	</center>
</div>