<div style="position:relative;{{#collapsed}}min-height:30px{{/collapsed}}" class="widget {{widgetType}} {{#limit}}{{#group.ids}}group_{{.}} {{/group.ids}}{{^group.ids}}group_all {{/group.ids}}{{/limit}}{{^limit}}group_all{{/limit}} {{device}} {{#collapsed}}wf-collapsed{{/collapsed}}" id="{{id}}">
	{{>widgets__limited_actions}}
</div>