<!DOCTYPE html>
<html lang="en">
  <head>
    {{> core_head}}
    <style>.gr-main {padding: 0;}</style>
  </head>
  <body id="page" style="background-color: #FFFFFF;">
  <div style="height:20px"></div>
    {{> core_container}}
    {{> core_engine}}
  </body>
</html>
