<!DOCTYPE html>
<html lang="en">
  <head>
    {{> core_head}}
    <style>.gr-main {padding: 0;}</style>
  </head>
  <body id="app" style="background-color: #FFFFFF;padding:15px">
    {{> core_container}}
    {{> core_engine}}
  </body>
</html>
