<section id="header" class="header-container header-fixed bg-primary">
	<header class="top-header clearfix">
		<!-- Logo -->
		<div class="logo">
				<a href="/" >
					<i class="bu-b bu fa-fw"></i> myBinghamton
					<div style="font-size: 12px;line-height: 10px;text-align: right;margin-right: 27px;"></div>
				</a>
		</div>
		<div class="top-nav">
			<ul class="nav-left list-unstyled">						 
				<li class="visible-sm visible-md visible-lg">
					<div class="hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3b">
						<a href="http://ssb.cc.binghamton.edu:8080/ssomanager/c/SSB" target="_blank" class="hi-icon bu-bubrain" style="float:left"><div>BU&nbsp;Brain</div></a>
      <a href="https://mycourses.binghamton.edu/" target="_blank" class="hi-icon fa fa-book" style="float:left"><div style="font-family: sans-serif;font-size:14px">myCourses</div></a>
						<a href="https://secure.binghamton.edu/qpLogin/login.jsp" target="_blank" class="hi-icon bu-quikpay" style="float:left"><div>QuikPay</div></a>
					</div>
				</li>
			</ul> 
			
			<div>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li><a href="#"><h4 style="margin:0">{{ $name}}</h4></a></li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          {{#logged_in}}
          <a href="#" class="dropdown-toggle user-info" data-toggle="dropdown" role="button">
            <img class="gravatar" src="https://www.gravatar.com/avatar/{{user_md5_email}})?d=mm" /> 
            {{user.first_name}} {{user.last_name}} 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url.root }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            {{#is_admin}}
              <li><a href="{{ url.admin }}"><i class="fa fa-gear"></i> Admin</a></li>
            {{/is_admin}}  
            <li><a href="{{ url.logout }}"><i class="fa fa-times-circle"></i> Logout</a></li>
          </ul>
          {{/logged_in}}
          {{^logged_in}}
          <a href="#" class="dropdown-toggle user-info" data-toggle="dropdown" role="button">
            <img class="gravatar" src="https://www.gravatar.com/avatar/?d=mm&f=y" /> Guest 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url.login }}"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>
          </ul>
          {{/logged_in}}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-xs-block">
        <!--<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>-->
        {{#apps}}
          <li><a href="/app/{{slug}}"><i class="fa fa-{{#icon}}{{icon}}{{/icon}}{{^icon}}cube{{/icon}} fa-fw"></i>&nbsp; {{name}}</a></li>
        {{/apps}}
      </ul>
      <!--form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form-->
      {{#app_mode}}{{> app_titlebar}}{{/app_mode}}
      {{^app_mode}}{{> dashboard_titlebar}}{{/app_mode}}
    </div>
			
			
			
		</div>



	</header>
</section>