
					<aside id="nav-container" class="nav-container nav-fixed nav-horizontal bg-white">        
						<div class="nav-wrapper">
								<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
									<ul id="nav" class="nav" style="overflow: auto; width: auto; height: 100%;">
<li class="visible-xs">
	<a href="#">{{user.first_name}} {{user.last_name}}</a>	
			<ul>
				<!-- <li><a href="/myprofile#/mygroups"><i class="ti-angle-right"></i> <span>My Profile</span> </a></li> -->
				<li><a href="/logout"><i class="ti-angle-right"></i> <span>Log Out</span> </a></li>
			</ul>
		<i class="ti-angle-down icon-has-ul-h"></i><i class="ti-angle-double-right icon-has-ul"></i>
</li>
{{#links}}
		<li class="community_{{id}}"><a href="/page/{{slug}}"> <span data-i18n="{{name}}">{{name}}</span> </a></li>
{{/links}}
									</ul>
								<div class="slimScrollBar" style="width: 7px; position: absolute; top: 144px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 103.183894230769px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
						</div>
					</aside>


