<div class="hidden-xs"> </div>

<script src='/assets/js/berryApp.js'></script> 
<script src='/assets/js/vendor/moment.js'></script>

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js'></script>
<!--/*<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>		*/-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
<!--<script src='https://rawgit.com/Cloverstone/Berry/master/bin/full.berry.min.js'></script>-->
<script type='text/javascript' src='/assets/js/vendor/summernote.min.js'></script>

<script src='/assets/js/vendor/berry.full.js'></script> 
<script src='/assets/js/vendor/moment_datepicker.js'></script>

<script src='https://rawgit.com/Cloverstone/Berry/master/bin/bootstrap.full.berry.js'></script> 
<script src='https://rawgit.com/Cloverstone/berryTables/master/bin/js/berryTables.min.js'></script>
<script src='https://rawgit.com/Cloverstone/Cobler/master/bin/cobler.min.js'></script> 
<script src='https://rawgit.com/Cloverstone/Cobler/master/bin/bootstrap.cobler.js'></script> 
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script>_.findWhere = _.find; _.where = _.filter;</script>
<script src='//unpkg.com/ractive/ractive.min.js'></script>    
<script src='//cdnjs.cloudflare.com/ajax/libs/lockr/0.8.4/lockr.min.js'></script>    
<script src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script> 
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.min.js" charset="utf-8"></script>

<script type="text/javascript" src="/assets/js/sortable.js"></script>
<script type='text/javascript' src='/assets/js/cob/cob.js'></script>
<script type='text/javascript' src='/assets/js/cob/content.cob.js'></script>
<script type='text/javascript' src='/assets/js/cob/image.cob.js'></script>

<script type='text/javascript' src='/assets/js/cob/uapp.cob.js'></script>
<script type='text/javascript' src='/assets/js/cob/links.cob.js'></script>
<script type='text/javascript' src='/assets/js/filter.js'></script>
<!-- // <script type='text/javascript' src='assets/js/form.cob.js'></script>		 -->
<script type='text/javascript' src='//cdn.tinymce.com/4/tinymce.min.js'></script>`
<script type='text/javascript' src='/assets/js/templates/widget.js'></script>
<script src='/assets/js/lib.js'></script> 

<script type='text/javascript' >
	var config = {{{config_json}}};
	var mobile_order = {{{data}}};
	var apps = {{{apps_json}}};
	_.findWhere = _.find;
	_.where = _.filter;
	group_id = {{group.id}};
	group_admin = {{group.admin}};
	if(group_admin){
		$('body').addClass('admin');
	}
	{{#app_mode}}
		appMode = true;
		resource_type = 'app_instance';

		app_instance_id={{#id}}{{id}}{{/id}}{{^id}}null{{/id}};
		$('.app'+app_instance_id).addClass('active');
		var fields = JSON.parse(apps[0].app.code.forms[1].content || '{}').fields;
		if(typeof fields !== 'undefined' && fields.length){
			$('#edit_instance').show();
			$('#edit_instance').on('click', function(){
				editUserOptions(cb.collections[0].getItems()[0])    
			})
		}
	{{/app_mode}}
	{{^app_mode}}
		appMode = false;
		resource_type = 'page';
		page_id = {{#id}}{{id}}{{/id}}{{^id}}null{{/id}};
		$('.page'+page_id).addClass('active');
	{{/app_mode}}
	$('#group'+group_id).addClass('in');

	layouts = [
			{
				value: '0',
				classes: 'bu-3-6-3',
				title: 'Wide Middle (3-6-3)',
				label: '<i title="Wide Middle" class="bu-3-6-3"></i>',
				template: '<div class="col-md-3 col-sm-4 cobler_container"></div><div class="col-sm-8 col-md-6 cobler_container"></div><div class="col-md-3 col-sm-12 cobler_container"></div>'
			},
			{
				value: '1',
				classes: 'bu-6-3-3',
				title: 'Wide Left (6-3-3)',
				label: '<i title="Wide Left" class="bu-6-3-3"></i>',
				template: '<div class="col-md-6 col-sm-8 cobler_container"></div><div class="col-md-3 col-sm-4 cobler_container"></div><div class="col-md-3 col-sm-12 cobler_container"></div>'
			},
			{
				value: '2',
				classes: 'bu-4-4-4',
				title: 'Even (4-4-4)',
				label: '<i title="Even" class="bu-4-4-4"></i>',
				template: '<div class="col-md-4 col-sm-6 cobler_container"></div><div class="col-md-4 col-sm-6 cobler_container"></div><div class="col-md-4 col-sm-12 cobler_container"></div>'
			},
			{
				value: '3',
				classes: 'bu-6-6',
				title: 'Split (6-6)',
				label: '<i title="Split" class="bu-6-6"></i>',
				template: '<div class="col-sm-6 cobler_container"></div><div class="col-sm-6 cobler_container"></div>'
			},
			{
				value: '4',
				classes: 'bu-12-12',
				title: 'Full Page (12)',
				label: '<i title="Full" class="bu-12-12"></i>',
				template: '<div class="col-lg-12 cobler_container"></div>'
			},
			{
				value: '5',
				classes: 'bu-oddshape',
				title: 'Odd Shape',
				label: '<i title="Odd Split" class="bu-oddshape"></i>',
				template: '<div class="col-sm-4 cobler_container"></div><div class="col-sm-8"><div class="row"><div class="col-sm-12 cobler_container"></div></div><div class="row"><div class="col-sm-6 cobler_container"></div><div class="col-sm-6 cobler_container"></div></div></div>'
			},
			{
				value: '6',
				classes: 'bu-doubledown',
				title: 'Double Down (12 6-6 12)',
				label: '<i title="Double Down" class="bu-doubledown"></i>',
				template: '<div class="col-sm-12"><div class="row"><div class="col-sm-12 cobler_container"></div></div><div class="row"> <div class="col-sm-6 cobler_container"></div><div class="col-sm-6 cobler_container"></div></div><div class="row"><div class="col-sm-12 cobler_container"></div></div></div>'
			},
			{
				value: '7',
				classes: 'bu-3-6-3',
				title: 'Middle Only (_-6-_)',
				label: '<i title="Middle Only" class="bu-3-6-3"></i>',
				template: '<div class="col-lg-offset-3 col-md-offset-2  col-lg-6 col-md-8 col-sm-12 cobler_container"></div></div>'
			},
		];



	function layout() {
		var berry = $().berry({
			legend: 'Change Layout', 
			inline:false,
			fields:[
				{
					label:'Layout',
					name:'layout',
					label_key:'title',
					classes: layouts[config.layout||0].classes, 
					choices: layouts, 
					value: config.layout
				}
			]
		}).on('save',function(){
			$.ajax({
				url:'/api/pages/{{id}}',
				data:{"content": JSON.stringify($.extend({}, config,{layout:parseInt(this.toJSON().layout)}))} ,
				method:'PUT',
				success: function(data) {
					config = data.content;
					location.reload()
				}
			})
		});
	}


			// templates['widgets_container'] = Hogan.compile(document.getElementsByName('widgets_container')[0].innerHTML);

		// templates['widgets_edit'] = Hogan.compile(document.getElementsByName('widgets_container_edit')[0].innerHTML);
	function load(status){
		$('body').toggleClass('editor', !status)
		if(typeof cb !== 'undefined'){
			cb.destroy();
			delete cb;
		}
		var template = 'widgets_container'
		var target = 'widget';
		if(!status){
			template = 'widgets_edit_container';
		}


		var data = config.sections || [[]];// [[{"title":"This is the title","app_id":1,"widgetType":"uApp"}]];

		if(window.getComputedStyle($('.hidden-xs')[0]).display == 'none'){
				tempdata = [].concat.apply([],config.sections || [[]])

				if(typeof mobile_order !== 'undefined'){
					tempdata = _.sortBy(tempdata, function(o) {
						return mobile_order.indexOf(o.guid);
					})
				}
				data = [tempdata];
				$('#page_layout').html(layouts[4].template);

		}else{
			$('#page_layout').html(layouts[config.layout || 0].template);

		}

		cb = new Cobler({ disabled: status, targets: document.getElementsByClassName('cobler_container'),itemContainer: template,itemTarget:target, items:data})
		if(!status){
			if(document.getElementById('sortableList') != null){
				cb.addSource(document.getElementById('sortableList'));
			}
			if('{{name}}' == 'Dashboard'){
				var save = function(){
					$.post('/api/dashboard',{"config":JSON.stringify({"sections":cb.toJSON({editor: true})}) },function(data){
					// config = JSON.parse(data.config);
					config = data.config;
				})}
			}else{
				var save = function(){$.ajax({
					url:'/api/pages/{{id}}',
					data:{"content": JSON.stringify( {"sections":cb.toJSON({editor: true})  ,"layout":config.layout})} ,
					method:'PUT',
					success: function(data){
						config = data.content;
					}
				})}
			}
			cb.on('moved',save);
			cb.on('reorder', save);
			cb.on('remove', save);
			cb.on('change',save);
			cb.on('manage',function(item){
				$().berry({name: 'modal', attributes: item.get(), legend: 'Display Settings',flatten:true, fields:[
					{label: 'Device', name: 'device', type: 'select', value:'widget', choices: [{label: 'All', value:'widget'}, {label: 'Desktop Only', value:'hidden-xs hidden-sm'},{label: 'Tablet and Desktop', value:'hidden-xs'} ,{label: 'Tablet and Phone', value:'hidden-md hidden-lg'} ,{label: 'Phone Only', value:'visible-xs-block'} ] },
					{label: 'Container?', name:'container', type: 'checkbox'},
					{label: 'Allow Minimization', name: 'enable_min', type: 'checkbox', show:!item.get().no_minimize},
					{label:' Start Collapsed', name:'collapsed',type:'checkbox', show:{matches:{name:'enable_min',value:true}},parse:'show'},
					{label: 'Limit to Group', name: 'limit', type: 'checkbox', show:  {test: function(){return group_composites.length >0;}} },
						{legend: 'Groups', 'show': {
									matches: {
										name: 'limit',
										value: true
									}
								},fields:[
							{label: false, multiple:{duplicate:true}, toArray:true, name: 'group', fields:[
									{label: false, name: 'ids', type: 'select', options: group_composites}
								]
							}]},
				]})
				.on('save',function(){
					this.container.update(Berries.modal.toJSON(),this)
					Berries.modal.trigger('saved');
					save();
				},item)
			})

			// cb.on('min', function(item){
			// 	item.container.update({collapsed:!item.get().collapsed},item)
			// 	save();
			// })

		}else{
			cb.on('min', function(item){
				$(item.container.elementOf(item)).find('.collapsible').toggle(400 , $.proxy(function() {
					item.set({collapsed: $(item.container.elementOf(item)).find('.widget').toggleClass('cob-collapsed').hasClass('cob-collapsed') });
					Lockr.set(item.get().guid,{collapsed:item.get().collapsed});
				},item) );
			})
			cb.on('user_edit', editUserOptions)
		}
	}

function editMobileOrder(){
	var tempdata = [].concat.apply([],config.sections || [[]])
	if(typeof mobile_order !== 'undefined'){
		tempdata = _.sortBy(tempdata, function(o) {
			return mobile_order.indexOf(o.guid);
		})
	}



	mymodal = modal({title: "Mobile Layout", content: templates.listing.render({widgets:tempdata} ), footer: '<div class="btn btn-success save-mobile">Save</div>'})

	Sortable.create($(mymodal.ref).find('.modal-content ol')[0], {draggable:'li'})
		
	$('.save-mobile').on('click', function(e){
		new_mobile_order = _.map($(mymodal.ref).find('.modal-content ol').find('li'), function(item){return item.dataset.guid});
		$.ajax(
			{
				url: '/api/pages/' + page_id, 
				data: {'mobile_order': JSON.stringify(new_mobile_order)},
				method: 'PUT',
				success: function(e){
					mobile_order = new_mobile_order;
					mymodal.ref.modal('hide');
				}
		});
	})
}


	function editUserOptions(item){
		if(typeof item.bae !== 'undefined'){
			$().berry($.extend(true, {legend:'Edit Options', attributes: item.bae.data.user.options},JSON.parse(_.find(item.bae.options.config.forms,{name:'User Options'}).content))).on('save', function(){
				var url = '/api/apps/instances/'+item.bae.config.app_instance_id+'/user_options';
				if(typeof item.bae.data.user.id !== 'undefined') {
					$.ajax({
						type: 'POST',
						url:url,
						data: {'options': this.toJSON()},
						success:function(data){
							item.bae.app.update({user:{options:data.options}});
							item.bae.optionsupdated();
							this.trigger('close');
							toastr.success('', 'Options Updated Successfully');
						}.bind(this),
						error:function(data){
								toastr.error(data.statusText, 'An error occured updating options')
						}
					})
				}else{
					item.bae.app.update({user:{options:this.toJSON()}});
					Lockr.set(url, {'options': this.toJSON()})
					this.trigger('close');
					toastr.success('', 'Options Updated Successfully');
				}
			})
		}
	}
	function addWidget(e) { 
		cb.collections[0].addItem(e); 	
	}


	load(true);

	$('body').keydown(function(event) {
		switch(event.keyCode) {
			case 27://escape
					cb.deactivate();
				break;
		}
	});


	// Automatically cancel unfinished ajax requests 
	// when the user navigates elsewhere.
	(function($) {
		var xhrPool = [];
		$(document).ajaxSend(function(e, jqXHR, options){
			xhrPool.push(jqXHR);
		});
		$(document).ajaxComplete(function(e, jqXHR, options) {
			xhrPool = $.grep(xhrPool, function(x){return x!=jqXHR});
		});
		var abort = function() {
			$.each(xhrPool, function(idx, jqXHR) {
				jqXHR.abort();
			});
		};

		var oldbeforeunload = window.onbeforeunload;
		window.onbeforeunload = function() {
			abort();
			return oldbeforeunload ? oldbeforeunload() : undefined;
		}
	})(jQuery);




</script>

		<style>
/*			.view-as.group_all i{display: none;}
			.group_all .view-as.group_all i{ display:inline;}
*/
			.group_ .widget,.group_ .page-menu ul li{display:none;}

{{#group.composites}}
			.group_{{ composite_group_id }} .widget,.group_{{ composite_group_id }} .page-menu ul li{display:none;}
			.editor .widget,.editor .page-menu ul li{display: block;}
			.group_{{ composite_group_id }} .widget.group_all,.group_{{ composite_group_id }} .widget.group_{{ composite_group_id }}{display: block;}
			.group_{{ composite_group_id }} .page-menu ul li.group_all,.group_{{ composite_group_id }} .page-menu ul li.group_{{ composite_group_id }} {display: block}

@media (min-width: 768px) {
			.group_{{ composite_group_id }} .page-menu ul li.group_all,.group_{{ composite_group_id }} .page-menu ul li.group_{{ composite_group_id }} {display: table-cell}
				

}
			.view-as.group_{{ composite_group_id }} i{display: none;}
			.group_{{ composite_group_id }} .view-as.group_{{ composite_group_id }} i{ display:inline;}

{{/group.composites}}

		</style>

		<script>

			var group_composites =[];

			{{#group.composites}}
			group_composites.push({"id": {{group.id}},'name': "{{group.name}}"  });
			{{/group.composites}}


		// window.onload = function(){
			$('.page-menu ul li').each(function(my, item){
					var groups =($(item).data('groups')+"").split(',')
					for(var i in groups){
						$(item).addClass('group_'+groups[i]);
					}
				
			})




			$('.view-as').on('click', function(e){
				e.stopPropagation();
				if($(e.currentTarget).data('group') == 'reset'){

					$('body').attr('class',bodyClasses);

					for(var i in groups){
						$('body').toggleClass('group_'+groups[i]);

					}
					
				
				}else if($(e.currentTarget).data('group') == 'all'){
					//$('body').attr('class','topbar sidemenu group_all');
					$('body').attr('class',bodyClasses);
					
					for(var i in group_composites){
						$('.view-as.group_'+group_composites[i].id).click();
					}

				}else if($(e.currentTarget).data('group') == 'clear'){
					//$('body').attr('class','topbar sidemenu group_all');
					$('body').attr('class',bodyClasses);
					
				}else{
					//$('body').removeClass('group_all');

					$('body').toggleClass('group_'+$(e.currentTarget).data('group'));
					// if(window.getComputedStyle($(".page-menu .page_"+page_id)[0]).display == 'none'){
					// 	// modal({title:'HIDDEN',content:'This Page is not visible to members of this group'})

					// 	$('body').attr('class','app');
					// }
				}
			})
			groups = [{{#user.groups}}{{.}},{{/user.groups}}];
			bodyClasses = $('body').attr('class');
			for(var i in groups){
				$('.view-as.group_'+groups[i]).click();
			}
						
			if (resource_type === 'page') {resource_id = page_id;} else if (resource_type === 'app_instance') {resource_id = app_instance_id;} 
			$.ajax({
					url: '/api/visit/log_visit',
					type: 'post',
					data: {width:window.innerWidth,resource_id:resource_id,resource_type:resource_type},
					success: function(){}
			});
			// }
		</script>

		