<div class="container-fluid" id="main-container">
  <div class="row generated-content">
    <div class="col-sm-12 gr-main">
          <div class="row" id="page_layout">
          </div>
    </div>
  </div>
</div>