<div class="row">
  <div class="col-sm-12">

    <div class="row ">
      <div class="cobler_container col-md-4"></div>
      <div class="cobler_container col-md-4"></div>
      <div class="cobler_container col-md-4"></div>
    </div>
  </div>
</div>