<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img style="height:25px" src="/assets/img/graphene_white.png">
      </a>
      <ul class="nav navbar-nav navbar-right hidden-xs ">
        {{>menu}}
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    
      <ul class="nav navbar-nav navbar-right">
        {{#group.admin}}
        {{#group.composites.0.group}}
        <li class="dropdown hidden-xs editTools">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-group"></i><span class="sr-only">User</span> <span class="caret"></span></a>
            <ul class="dropdown-menu with-arrow  pull-right" role="menu">
              <li>
                <a href="javascript:void(0);" class="view-as" data-group="reset"> Reset to my Groups</a>
              </li>           
              <li>
                <a href="javascript:void(0);" class="view-as group_all" data-group="all"> All Groups</a>
              </li>
              <li>
                <a href="javascript:void(0);" class="view-as" data-group="clear"> Clear Groups</a>
              </li>
              <li role="separator" class="divider"></li>
              {{#group.composites}}
              <li>
                <a href="javascript:void(0);" class="view-as group_{{ group.id }} " data-group="{{ group.id }} "><i class="fa fa-check text-success"></i> {{ group.name }} </a>
              </li>
              {{/group.composites}}
            </ul>
        </li>
        {{/group.composites.0.group}}
        {{/group.admin}}
        {{>notifications}}
        <li class="dropdown">
          {{#logged_in}}
          <a href="#" class="dropdown-toggle user-info" data-toggle="dropdown" role="button">
            <img alt="{user.first_name}} {{user.last_name}}" class="gravatar" src="https://www.gravatar.com/avatar/{{user_md5_email}})?d=mm" /> 
            {{user.first_name}} {{user.last_name}} 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{#is_admin}}
              <li><a href="{{ url.admin }}"><i class="fa fa-gear"></i> Admin</a></li>
              <li><a href="#" id="graphene-quick-create"><i class="fa fa-bolt"></i> Quick Create</a></li>
              <li><a href="/workflows"><i class="fa fa-check-square-o"></i> Workflows</a></li>
            {{/is_admin}}  
            <li><a href="{{ url.logout }}"><i class="fa fa-times-circle"></i> Logout</a></li>
          </ul>
          {{/logged_in}}
          {{^logged_in}}
          <a href="#" class="dropdown-toggle user-info" data-toggle="dropdown" role="button">
            <img class="gravatar" src="https://www.gravatar.com/avatar/?d=mm&f=y" /> Guest 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url.login }}"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>
          </ul>
          {{/logged_in}}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-xs-block">
        <!--<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>-->
    {{#mygroups}}
      {{#.}}
          {{#hascontent}}
            <li><a data-toggle="collapse" href="#hgroup{{ id }}">{{ name }} <span class="caret"></span></a></li>
            <ul class="collapse"  id="hgroup{{ id }}">
            {{#content}}
                <li class="{{#visibility.hidden_xs}}hidden-xs{{/visibility.hidden_xs}} {{#visibility.hidden_sm}}hidden-sm{{/visibility.hidden_sm}} {{#visibility.hidden_md}}hidden-md{{/visibility.hidden_md}} {{#visibility.hidden_lg}}hidden-lg{{/visibility.hidden_lg}} {{type}}_{{id}} {{^groups}}group_all{{/groups}}" data-groups="{{#groups}}{{.}},{{/groups}}">
                    <a href="{{url}}" data-{{type}}="{{id}}">{{#icon}}<span class="fa fa-{{icon}}"></span>&nbsp;{{/icon}}{{name}}{{#composite_limit}}&nbsp;<span class="fa fa-lock"></span>{{/composite_limit}}</a>	
                </li>
            {{/content}}
            </ul>
          {{/hascontent}}
      {{/.}}
    {{/mygroups}}
      </ul>
      <!--form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form-->
      {{> titlebar}}
    </div>
  </div>
</nav>