<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        {{#site.theme.icon}}
        <i class="fa fa-{{site.theme.icon}} fa-fw" style="font-size: 36px;margin: -8px 0px 0px -8px;float: left;"></i>
        {{/site.theme.icon}}
        &nbsp;{{site.name}}
      </a>





      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li><a href="#"><h4 style="margin:0">{{name}}</h4></a></li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    
      <ul class="nav navbar-nav navbar-right">
        {{#group.admin}}
        {{#group.composites.0.group}}
        <li class="dropdown hidden-xs editTools">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-group"></i><span class="sr-only">User</span> <span class="caret"></span></a>
            <ul class="dropdown-menu with-arrow  pull-right" role="menu">
              <li>
                <a href="javascript:void(0);" class="view-as" data-group="reset"> Reset to my Groups</a>
              </li>           
              <li>
                <a href="javascript:void(0);" class="view-as group_all" data-group="all"> All Groups</a>
              </li>
              <li>
                <a href="javascript:void(0);" class="view-as" data-group="clear"> Clear Groups</a>
              </li>
              <li role="separator" class="divider"></li>
              {{#group.composites}}
              <li>
                <a href="javascript:void(0);" class="view-as group_{{ group.id }} " data-group="{{ group.id }} "><i class="fa fa-check text-success"></i> {{ group.name }} </a>
              </li>
              {{/group.composites}}
            </ul>
        </li>
        {{/group.composites.0.group}}
        {{/group.admin}}

        <li class="dropdown">
          {{#logged_in}}
          <a href="#" class="dropdown-toggle user-info" data-toggle="dropdown" role="button">
            <img alt="{user.first_name}} {{user.last_name}}" class="gravatar" src="https://www.gravatar.com/avatar/{{user_md5_email}})?d=mm" /> 
            {{user.first_name}} {{user.last_name}} 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url.root }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            {{#is_admin}}
              <li><a href="{{ url.admin }}/{{ group.id }}"><i class="fa fa-gear"></i> Admin</a></li>
            {{/is_admin}}  
            <li><a href="{{ url.logout }}"><i class="fa fa-times-circle"></i> Logout</a></li>
          </ul>
          {{/logged_in}}
          {{^logged_in}}
          <a href="#" class="dropdown-toggle user-info" data-toggle="dropdown" role="button">
            <img class="gravatar" src="https://www.gravatar.com/avatar/?d=mm&f=y" /> Guest 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url.login }}"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>
          </ul>
          {{/logged_in}}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-xs-block">
        <!--<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>-->
    {{#apps_pages}}
      {{#.}}
        {{^unlisted}}
          {{#has_apps_or_pages}}
            <li><a data-toggle="collapse" href="#hgroup{{ id }}">{{ name }}</a></li>
            <ul class="collapse"  id="hgroup{{ id }}">
            {{#pages}}
              {{^unlisted}}
                <li class="page{{id}} {{#hidden_xs}}hidden-xs{{/hidden_xs}} {{#hidden_sm}}hidden-sm{{/hidden_sm}} {{#hidden_md}}hidden-md{{/hidden_md}} {{#hidden_lg}}hidden-lg{{/hidden_lg}}"><a href="/page/{{group_slug}}/{{ slug }}"><i class="fa fa-{{#icon}}{{icon}}{{/icon}}{{^icon}}file{{/icon}} fa-fw"></i>&nbsp; {{ name }}</a></li>
              {{/unlisted}}
            {{/pages}}
            {{#app_instances}}
              {{^unlisted}}
                <li class="app{{id}} {{#hidden_xs}}hidden-xs{{/hidden_xs}} {{#hidden_sm}}hidden-sm{{/hidden_sm}} {{#hidden_md}}hidden-md{{/hidden_md}} {{#hidden_lg}}hidden-lg{{/hidden_lg}}"><a href="/app/{{group_slug}}/{{ slug }}"><i class="fa fa-{{#icon}}{{icon}}{{/icon}}{{^icon}}cube{{/icon}} fa-fw"></i>&nbsp; {{ name }}</a></li>
              {{/unlisted}}
            {{/app_instances}}
            </ul>
          {{/has_apps_or_pages}}
          {{^has_apps_or_pages}}
            <li><a href="/page/{{group_slug}}">{{ name }}</a></li>
          {{/has_apps_or_pages}}
        {{/unlisted}}
      {{/.}}
    {{/apps_pages}}
      </ul>
      <!--form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form-->
      {{> titlebar}}
    </div>
  </div>
</nav>