<!DOCTYPE html>
<html lang="en">
  <head>
    {{> core_head}}
  </head>
  <body id="page">
    {{> header}}
  	{{> menu }}
    {{> core_container}}
    {{> footer}}
    {{> core_engine}}
    <script>
        $('.navbar-nav > li.community_{{group.id}}').addClass('active')
        $('.page_{{id}}').addClass('active')
    </script>
  </body>
</html>