<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    {{#links}}
      <li><a data-toggle="collapse" href="#collapse{{ id }}">{{ name }}</a></li>
      <ul class="collapse"  id="collapse{{ id }}">
      {{#pages}}
        {{^unlisted}}
          <li class="
            {{#visible_xs}}visible-xs-block{{/visible_xs}}
            {{#visible_sm}}visible-sm-block{{/visible_sm}}
            {{#visible_md}}visible-md-block{{/visible_md}}
            {{#visible_lg}}visible-lg-block{{/visible_lg}}
            "><a href="/page/{{group_slug}}/{{ slug }}{{^topbar_enabled}}?topbar=false{{/topbar_enabled}}"><i class="fa fa-{{#icon}}{{icon}}{{/icon}}{{^icon}}file{{/icon}} fa-fw"></i>&nbsp; {{ name }}</a></li>
        {{/unlisted}}
      {{/pages}}
      {{#app_instances}}
        {{^unlisted}}
          <li class="
            {{#visible_xs}}visible-xs-block{{/visible_xs}}
            {{#visible_sm}}visible-sm-block{{/visible_sm}}
            {{#visible_md}}visible-md-block{{/visible_md}}
            {{#visible_lg}}visible-lg-block{{/visible_lg}}
            "><a href="/app/{{group_slug}}/{{ slug }}{{^topbar_enabled}}?topbar=false{{/topbar_enabled}}"><i class="fa fa-{{#icon}}{{icon}}{{/icon}}{{^icon}}cube{{/icon}} fa-fw"></i>&nbsp; {{ name }}</a></li>
        {{/unlisted}}
      {{/app_instances}}
      </ul>
    {{/links}}
  </ul>
</div>