<li style="position:relative;border-right:1px solid #ffffff0f;">
                <span class="badge notificationCount" style="position:absolute;background: #ff5656;z-index:1;color: #fff;top: 5px;display:none"></span>
    <a href="/workflows/assignments" role="button" style="border-left:0;padding-bottom: 9px;">
        <i class="fa fa-bell" style="font-size: x-large;">
        </i> <span class="sr-only">Notifications</span>
    </a>
</li>