<div class="row page-menu hidden-xs">
    <div class="col-md-12">
    	<ul class="nav nav-pills nav-justified">
    	{{#group}}
    		{{^unlisted}}
    			{{#apps_pages}}
    				{{#.}}
    					{{#pages}}
    						{{^unlisted}}
    							<li class="{{#hidden_xs}}hidden-xs{{/hidden_xs}} {{#hidden_sm}}hidden-sm{{/hidden_sm}} {{#hidden_md}}hidden-md{{/hidden_md}} {{#hidden_lg}}hidden-lg{{/hidden_lg}} page_{{id}} {{device_class}} {{^groups}}group_all{{/groups}}" data-groups="{{#groups}}{{groups}}{{/groups}}">
    								<a href="/page/{{group_slug}}/{{slug}}" data-page="{{id}}">{{#composite_limit}}<span class="fa fa-lock"></span> {{/composite_limit}}{{name}}</a>	
    							</li>
    						{{/unlisted}}
    					{{/pages}}
    					{{#app_instances}}
    						{{^unlisted}}
    							<li class="{{#hidden_xs}}hidden-xs{{/hidden_xs}} {{#hidden_sm}}hidden-sm{{/hidden_sm}} {{#hidden_md}}hidden-md{{/hidden_md}} {{#hidden_lg}}hidden-lg{{/hidden_lg}} page_{{id}} {{device_class}} {{^groups}}group_all{{/groups}}" data-groups="{{#groups}}{{groups}}{{/groups}}">
    								<a href="/app/{{group_slug}}/{{slug}}" data-page="{{id}}">{{#composite_limit}}<span class="fa fa-lock"></span> {{/composite_limit}}{{name}}</a>	
    							</li>
    						{{/unlisted}}
    					{{/app_instances}}
    				{{/.}}
    			{{/apps_pages}}
    		{{/unlisted}}
    	{{/group}}
    	</ul>
    </div>    
</div>
