container_commands:
  01composer_update:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"
  02composer_dump_autoload:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar dump-autoload -o"
  03artisan_migrate:
    command: "php artisan migrate"
    leader_only: true
  04set_time_zone:
    command: "ln -f -s /usr/share/zoneinfo/US/Eastern /etc/localtime"
files:
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 64M
      post_max_size = 64M
      max_input_vars = 1000000
      memory_limit = 256M