commands:
  01_add_node_repo:
    cwd: /tmp
    test: '[ ! -f /etc/yum.repos.d/nodesource-el7.repo ] && echo "node repo does not exist"'
    command: 'curl -sL https://rpm.nodesource.com/setup_12.x | sudo -E bash -'
  02_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum -y install nodejs'