files:
    "/etc/cron.d/graphene_every_minute":
        mode: "000644"
        owner: root
        group: root
        content: |
            PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

            # Run Manually Via Artisan (Requires PHP Config exists in command line PHP)
            * * * * * webapp cd /var/app/current; /usr/bin/php artisan schedule:run >> /var/app/current/storage/logs/cron.log 2>&1

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/graphene_every_minute.bak"
