  <div class="row">
    <div class="col-md-9">  
    <div class="pull-right" style="width: 300px;height: 40px;" id="search"></div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        {{#app_developers.length}}<li role="presentation" class="active"><a href="#uapps" aria-controls="uapps" role="tab" data-toggle="tab"><i class="fa fa-cubes"></i> <span class="hidden-xs hidden-sm">My &mu;Apps<span></a></li>{{/app_developers.length}}
        {{#workflows.length}}<li role="presentation"><a href="#workflows" aria-controls="workflows" role="tab" data-toggle="tab"><i class="fa fa-check"></i> <span class="hidden-xs hidden-sm">My Workflows</span></a></li>{{/workflows.length}}

        <li role="presentation" {{^app_developers.length}} class="active" {{/app_developers.length}}><a href="#groups" aria-controls="groups" role="tab" data-toggle="tab"><i class="fa fa-lock"></i> <span class="hidden-xs hidden-sm">My Groups</span></a></li>

        <!-- <li role="presentation"><a href="#styles" aria-controls="styles" role="tab" data-toggle="tab"><i class="fa fa-css3"></i> <span class="hidden-xs hidden-sm">Styles</a></span></li> -->
        <!-- <li role="presentation"><a href="#forms" aria-controls="forms" role="tab" data-toggle="tab"><i class="fa fa-check-square-o"></i> <span class="hidden-xs hidden-sm">Forms<span></a></li> -->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane uapps {{#app_developers.length}}active{{/app_developers.length}}" id="uapps">
        <div class="masonry-grid">
        {{#app_developers}}
        {{#app}}
        <div class="filterable grid-item" style="display:inline-block;">
        		<div class="panel panel-default" style="border-top: solid 3px #4d87b9;">
            <div class="avatar" title="{{user.first_name}} {{user.last_name}}" data-toggle="tooltip" data-placement="top" style="background:{{user.unknown}}">{{user.initials}}</div>
            <a href="/admin/apps/{{id}}" class="parent-hover pull-right" style="margin:5px 10px;color:#aaa"><i class="fa fa-pencil"></i></a>

            <div class="" style="margin-top:5px;font-weight:400;font-size:large;color:#777;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{name}}</div>
            <div class="label" style="background:#8bb4da; font-weight:normal"><i class="fa fa-clock-o"></i> Updated: <time class="timeago" datetime="{{versions.0.updated_at}}" title="{{app.versions.0.updated_at}}"></time></div>
				      {{! <div class="panel-heading"> </div> }}
              <div class="panel-content" style="padding:15px 10px 10px">
                {{! <ul class="list-group"> }}
                <p style="color: #666;font-size: small;">{{description}}</p>
                  {{#app_instances}}
                  <div class="appInstance">
                 
                    <div class="dropdown parent-hover pull-right">
                      <a id="dLabel" href="javascript:void(0);" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i style="padding: 5px 10px;" class="fa fa-ellipsis-v"></i>
                        {{! <span class="caret"></span> }}
                      </a>
                      
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a target="_blank" href="/app/{{group_id}}/{{slug}}"><i class="fa fa-external-link"></i> Visit</a></li>
                        <li><a href="/admin/appinstances/{{id}}"><i class="fa fa-pencil"></i> Edit</a></li>
                        <li><a href="javascript:void(0);" class="find" data-id="{{id}}"><i class="fa fa-file-o"></i> Pages</a></li>
                      </ul>
                    </div>

                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseExample{{id}}" aria-expanded="false" aria-controls="collapseExample{{id}}"><span class="fa fa-collapse"></span><span class="pull-right text-muted">{{group.name}}</span> <div> <i class="fa {{#app_version_id}}fa-lock{{/app_version_id}} {{^app_version_id}}fa-lock-{{app_version_id}}{{/app_version_id}}"></i>{{name}} </div>
                      <div style="border-top:solid 1px #e4e4e4;border-bottom:solid 0px #ddd;padding:5px 0 0px;margin:5px 0">
                      {{#unlisted}}
                      <i title="Unlisted" data-toggle="tooltip" data-placement="top" class="text-warning fa fa-unlink"></i>
                      {{/unlisted}}
                      {{^unlisted}}
                      <i title="Listed" data-toggle="tooltip" data-placement="top" class="fa fa-link"></i>
                      {{/unlisted}}
                      {{#public}}
                      <i title="Public" data-toggle="tooltip" data-placement="top" class="text-success fa fa-eye"></i>
                      {{/public}}
                      {{^public}}
                      <i title="Private" data-toggle="tooltip" data-placement="top" class="text-danger fa fa-eye-slash"></i>
                      {{/public}}

                      {{#composite_limit}}
                      <i title="Limited To Composites" data-toggle="tooltip" data-placement="top"  class="fa fa-user"></i>
                      {{/composite_limit}}
                      {{^composite_limit}}
                      <i title="Open to Group Members" data-toggle="tooltip" data-placement="top"  class="fa fa-users"></i>
                      {{/composite_limit}}

                      {{^hidden_xs}}
                      <i class="pull-right fa fa-phone"></i>
                      {{/hidden_xs}}
                      {{^hidden_sm}}
                      <i class="pull-right fa fa-mobile"></i>
                      {{/hidden_sm}}
                      {{^hidden_md}}
                      <i class="pull-right fa fa-desktop"></i>
                      {{/hidden_md}}

                      <!--i class="pull-right device_{{device}}"></i-->


                      </div>
                    </a>
                    <div class="collapse" id="collapseExample{{id}}">

                      <div style="background: #ffffff;padding: 10px 15px 5px;overflow:scroll">
                      <h5>{{version.summary}}</h5>
                      <p class="text-muted">{{version.description}}</p>

                        {{#resources.length}}
                        <div style="border-bottom:solid 1px #aaa;margin:5px 0"></div>
                        <table>
                        <tr><th colspan="2" style="color:#666">Resources Map</th><tr>
                        {{#resources}}
                        <tr>
                        <td valign="top">{{name}}:&nbsp;</td><td class="text-muted">{{{endpoint.config.url}}}{{{resource.path}}}</td>
                        </tr>
                        {{/resources}} 
                      </table>
                        {{/resources.length}}


                        {{#options.length}}                      
                        <div style="border-bottom:solid 1px #aaa;margin:5px 0"></div>

                        <table>
                        <tr><th colspan="2" style="color:#666">Admin Options</th><tr>
                        {{#options}}
                        <tr>
                        <td valign="top">{{key}}:&nbsp;</td><td class="text-muted">{{value}}</td>
                        </tr>
                        {{/options}}                         
                        </table>                      

                        {{/options.length}}
                    

                        {{#user_options_default.length}}
                        <div style="border-bottom:solid 1px #aaa;margin:5px 0"></div>

                        <table>
                        <tr><th colspan="2" style="color:#666">Default User Options</th><tr>
                        {{#user_options_default}}
                        <tr>
                        <td valign="top">{{key}}:&nbsp;</td><td class="text-muted">{{value}}</td>
                        </tr>
                        {{/user_options_default}}
                        </table>

                        {{/user_options_default.length}}
                    
                      </div>
                    </div>
                  
                  </div>
                    
                  {{/app_instances}}
                {{! </ul> }}
                {{#tags}}
                  <div class="label label-default">{{.}}</div>
                  {{/tags}}

              </div>
				    </div>
            </div>
        {{/app}}
        {{/app_developers}}
        </div>
        </div>

        <div role="tabpanel" class="tab-pane groups {{^app_developers.length}}active{{/app_developers.length}}" id="groups">
        <div class="masonry-grid">
        {{#group_admins}}
        <div class="filterable grid-item" style="display:inline-block;">
        		<div class="panel panel-default" style="border-top: solid 3px #b796d6;padding:5px 10px 20px">
            
            <a href="/admin/groups/{{group.id}}" class="parent-hover pull-right" style="margin:5px 10px;color:#aaa"><i class="fa fa-pencil"></i></a>

            <div class="" style="margin-top:5px;font-weight:400;font-size:large;color:#777">{{group.name}}</div>
            {{#content_admin}}
            <span class="badge" style="/*background:#71ad48;*/opacity:.7">Content Admin</span>
            {{/content_admin}}
            {{#apps_admin}}
            <span class="badge" style="/*background:#6495ed;*/opacity:.7;float:right">App Admin</span>
            {{/apps_admin}}
            <div style="margin:10px 0;/*border-top:solid 1px #ddd;border-bottom:solid 1px #fff*/"></div>
              {{#group}}
  						<ul class="list-group">
										{{#members_count}}
                    <a href="/admin/groups/{{id}}/members" class="list-group-item" style="border-left:solid #3c763d">
											<i class="fa fa-user text-success"></i> <span class="text-success">Members</span> <span class="badge">{{members_count.aggregate}}</span>
										</a>
                    {{/members_count}}
										{{#admins_count}}
										<a href="/admin/groups/{{id}}/admins" class="list-group-item" style="border-left:solid #a94442">
											<i class="fa fa-lock text-danger"></i> <span class="text-danger">Admins</span> <span class="badge">{{admins_count.aggregate}}</span>
										</a>
										{{/admins_count}}
										{{#pages_count}}
										<a href="/admin/groups/{{id}}/pages" class="list-group-item" style="border-left:solid #337ab7">
											<i class="fa fa-file text-primary"></i> <span class="text-primary">Pages</span> <span class="badge">{{pages_count.aggregate}}</span>
										</a>
										{{/pages_count}}
										{{#appinstances_count}}
										<a href="/admin/groups/{{id}}/appinstances" class="list-group-item" style="border-left:solid #31708f">
											<i class="fa fa-cubes text-info"></i> <span class="text-info">App Instances</span> <span class="badge">{{appinstances_count.aggregate}}</span>
										</a>
										{{/appinstances_count}}
                    {{#workflowinstances_count}}
										<a href="/admin/groups/{{id}}/workflowinstances" class="list-group-item" style="border-left:solid #31708f">
											<i class="fa fa-list text-info"></i> <span class="text-info">Workflow Instances</span> <span class="badge">{{workflowinstances_count.aggregate}}</span>
										</a>
										{{/workflowinstances_count}}
										{{#endpoints_count}}
										<a href="/admin/groups/{{id}}/endpoints" class="list-group-item" style="border-left:solid #8a6d3b">
											<i class="fa fa-crosshairs text-warning"></i> <span class="text-warning">Endpoints</span> <span class="badge">{{endpoints_count.aggregate}}</span>
										</a>
										{{/endpoints_count}}                  
										{{#images_count}}                                        
										<a href="/admin/groups/{{id}}/images" class="list-group-item" style="border-left:solid">
											<i class="fa fa-image"></i> Images <span class="badge">{{images_count.aggregate}}</span>
										</a>
										{{/images_count}}                                        
										{{#links_count}}                                        
										<a href="/admin/groups/{{id}}/links" class="list-group-item" style="border-left:solid">
											<i class="fa fa-link"></i> Links <span class="badge">{{links_count.aggregate}}</span>
										</a>
										{{/links_count}}                                        
										{{#composites.length}}                                        
										<a href="/admin/groups/{{id}}/composites" class="list-group-item" style="border-left:solid">
											<i class="fa fa-puzzle-piece"></i> Composites <span class="badge">{{composites.length}}</span>
										</a>
										{{/composites.length}}                                        
							</ul>
                                    <div style="margin:10px 0 0"></div>

             <div class="group-info">

                {{^members_count}}
                <a href="/admin/groups/{{id}}/members" class="text-success" style="padding:5px;font-size:20px;">
                  <span class="fa fa-user" title="Members" data-toggle="tooltip" data-placement="top"></span>
                </a>
                <!--span class="badge badge-notify">0</span-->
                {{/members_count}}
                {{^admins_count}}
                <a href="/admin/groups/{{id}}/admins" class="text-danger" style="padding:5px;font-size:20px;">
                  <span class="fa fa-lock" title="Admins" data-toggle="tooltip" data-placement="top"></span>
                </a>
                {{/admins_count}}
                {{^pages_count}}
                <a href="/admin/groups/{{id}}/pages" class="text-info" style="padding:5px;font-size:20px;">
                  <span class="fa fa-file" title="Pages" data-toggle="tooltip" data-placement="top"></span>
                </a>
                {{/pages_count}}
                {{^appinstances_count}}
                <a href="/admin/groups/{{id}}/appinstances" class="text-primary" style="padding:5px;font-size:20px;">
                  <span class="fa fa-cubes" title="MicroApps" data-toggle="tooltip" data-placement="top"></span>
                </a>
                {{/appinstances_count}}
                {{^workflowinstances_count}}
                <a href="/admin/groups/{{id}}/workflowinstances" class="text-default" style="padding:5px;font-size:20px;">
                  <span class="fa fa-list" title="Workflows" data-toggle="tooltip" data-placement="top"></span>
                </a>
								{{/workflowinstances_count}}
                {{^endpoints_count}}
                <a href="/admin/groups/{{id}}/endpoints" class="text-warning" style="padding:5px;font-size:20px;">
                  <span class="fa fa-crosshairs" title="Endpoints" data-toggle="tooltip" data-placement="top"></span>
                </a>
                {{/endpoints_count}}
                {{^images_count}}
                <a href="/admin/groups/{{id}}/images" class="text-default" style="padding:5px;font-size:20px;color:#666">
                  <span class="fa fa-photo" title="Images" data-toggle="tooltip" data-placement="top"></span>
                </a>
                {{/images_count}}
                {{^links_count}}
                <a href="/admin/groups/{{id}}/links" class="text-default" style="padding:5px;font-size:20px;color:#666">
                  <span class="fa fa-link" title="Links" data-toggle="tooltip" data-placement="top"></span>
                </a>
                {{/links_count}}
                {{^composites.length}}
                <a href="/admin/groups/{{id}}/composites" class="text-default" style="padding:5px;font-size:20px;color:#666">
                  <span class="fa fa-puzzle-piece" title="Composites" data-toggle="tooltip" data-placement="top"></span>
                </a>
                {{/composites.length}}

               {{^tags.length}}
                               <a href="/admin/groups/{{id}}/tags" class="text-default" style="padding:5px;font-size:20px;color:#666">
                  <span class="fa fa-tags" title="Tags" data-toggle="tooltip" data-placement="top"></span>
                </a>
    
               {{/tags.length}}


              </div>
               {{#tags.length}}
              <div style="padding:15px 0 0">
                  <h6 style="display:inline-block"><a href="/admin/groups/{{id}}/tags"><i class="fa fa-tags"></i> Tags</a></h6> - 
                 {{#tags}}
                  <div class="label label-default">{{name}}:&nbsp;{{value}}</div>
                  {{/tags}}
              </div>
               {{/tags.length}}

              {{/group}}
				    </div>
          </div>
        {{/group_admins}}
        </div>
        </div>




        <div role="tabpanel" class="tab-pane workflows" id="workflows">
        <div class="masonry-grid">
        {{#workflows.length}}

        <div class="filterable grid-item" style="display:inline-block;">
        		<div class="panel panel-default" style="border-top: solid 3px #9ac337;">
              <div class="avatar" title="{{user.first_name}} {{user.last_name}}" data-toggle="tooltip" data-placement="top" style="background:{{user.unknown}}">{{user.initials}}</div>
              <a href="/admin/workflows/{{id}}" class="parent-hover pull-right" style="margin:5px 10px;color:#aaa"><i class="fa fa-pencil"></i></a>

            <div class="" style="margin-top:5px;font-weight:400;font-size:large;color:#777;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{name}}</div>
              <div class="label" style="background:#8bb4da; font-weight:normal"><i class="fa fa-clock-o"></i> Updated: <time class="timeago" datetime="{{updated_at}}" title="{{updated_at}}"></time></div>


              <div class="panel-content" style="padding:15px 10px 10px">
                <p style="color: #666;font-size: small;">{{description}}</p>
                  {{#workflow_instances}}
                  <div class="appInstance">
                 
                    <div class="dropdown parent-hover pull-right">
                      <a id="dLabel" href="javascript:void(0);" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i style="padding: 5px 10px;" class="fa fa-ellipsis-v"></i>
                        {{! <span class="caret"></span> }}
                      </a>
                      
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a target="_blank" href="/workflow/{{group_id}}/{{slug}}"><i class="fa fa-external-link"></i> Visit</a></li>
                        <li><a target="_blank" href="/admin/workflowinstances/{{id}}/report"><i class="fa fa-list-ol"></i> Report</a></li>
                        
                        <li><a href="/admin/workflowinstances/{{id}}"><i class="fa fa-pencil"></i> Edit</a></li>
                      </ul>
                    </div>

                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseExample{{id}}" aria-expanded="false" aria-controls="collapseExample{{id}}"><span class="fa fa-collapse"></span><span class="pull-right text-muted">{{group.name}}</span> <div> <i class="fa {{#app_version_id}}fa-lock{{/app_version_id}} {{^app_version_id}}fa-lock-{{app_version_id}}{{/app_version_id}}"></i>{{name}} </div>
                      <div style="border-top:solid 1px #e4e4e4;border-bottom:solid 0px #ddd;padding:5px 0 0px;margin:5px 0">
                      {{#unlisted}}
                      <i title="Unlisted" data-toggle="tooltip" data-placement="top" class="text-warning fa fa-unlink"></i>
                      {{/unlisted}}
                      {{^unlisted}}
                      <i title="Listed" data-toggle="tooltip" data-placement="top" class="fa fa-link"></i>
                      {{/unlisted}}
                      {{#public}}
                      <i title="Public" data-toggle="tooltip" data-placement="top" class="text-success fa fa-eye"></i>
                      {{/public}}
                      {{^public}}
                      <i title="Private" data-toggle="tooltip" data-placement="top" class="text-danger fa fa-eye-slash"></i>
                      {{/public}}

                      {{#composite_limit}}
                      <i title="Limited To Composites" data-toggle="tooltip" data-placement="top"  class="fa fa-user"></i>
                      {{/composite_limit}}
                      {{^composite_limit}}
                      <i title="Open to Group Members" data-toggle="tooltip" data-placement="top"  class="fa fa-users"></i>
                      {{/composite_limit}}

                      {{^hidden_xs}}
                      <i class="pull-right fa fa-phone"></i>
                      {{/hidden_xs}}
                      {{^hidden_sm}}
                      <i class="pull-right fa fa-mobile"></i>
                      {{/hidden_sm}}
                      {{^hidden_md}}
                      <i class="pull-right fa fa-desktop"></i>
                      {{/hidden_md}}

                      <!--i class="pull-right device_{{device}}"></i-->


                      </div>
                    </a>
                    <div class="collapse" id="collapseExample{{id}}">

                      <div style="background: #ffffff;padding: 10px 15px 5px;overflow:scroll">
                      <h5>{{version.summary}}</h5>
                      <p class="text-muted">{{version.description}}</p>

                        {{#resources.length}}
                        <div style="border-bottom:solid 1px #aaa;margin:5px 0"></div>
                        <table>
                        <tr><th colspan="2" style="color:#666">Resources Map</th><tr>
                        {{#resources}}
                        <tr>
                        <td valign="top">{{name}}:&nbsp;</td><td class="text-muted">{{{endpoint.config.url}}}{{{resource.path}}}</td>
                        </tr>
                        {{/resources}} 
                      </table>
                        {{/resources.length}}                    
                      </div>
                    </div>
                  
                  </div>
                    
                  {{/workflow_instances}}

              </div>





				    </div>
        </div>

        {{/workflows.length}}
        </div>
        </div>


      </div>
    </div>
    <div class="col-md-3" style="border-left: solid 1px #ddd;max-height:80vh;overflow:scroll">
    <h4>{{first_name}} {{last_name}}</h4>
    <h5>{{unique_id}}</h5>
    <h6>{{email}}</h6>

    {{#site_admin}}
    <span class="badge" style="background:#639">Site Admin</span>
    {{/site_admin}}
    {{#site_developer}}
    <span class="badge" style="background:#6495ed">Site Developer</span>
    {{/site_developer}}
        <div style="margin:12px 0 0;border-top:solid 1px #ddd;border-bottom:solid 1px #fff"></div>

    {{#tags_array.length}}<br>
    <h5>Tags</h5>
    <div style="margin:2px 0;border-top:solid 1px #ddd;border-bottom:solid 1px #fff"></div>
    <table>
    {{#tags_array}}<tr><td>{{name}}:&nbsp;</td><td> {{value}}</td></tr>{{/tags_array}}
    </table>
    {{/tags_array.length}}
    {{#params.length}}
    <br>
    <h5>Params</h5>
    <div style="margin:2px 0;border-top:solid 1px #ddd;border-bottom:solid 1px #fff"></div>
    <table>
    {{#params}}<tr><td>{{key}}:&nbsp;</td><td> {{value}}</td></tr>{{/params}}
    </table>
    {{/params.length}}
        <br>
    <h5>Memberships</h5>
    <div style="margin:2px 0;border-top:solid 1px #ddd;border-bottom:solid 1px #fff"></div>
          {{^group_members.length}}None{{/group_members.length}}{{#group_members}}<div>{{group.name}}</div>{{/group_members}}
    </div>
  </div>
  