<div style="margin:40px 20px">
<div class="btn-group pull-right">
  <button type="button" class="btn btn-primary" id="save">Save</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
	<li><a target="_blank" href="https://{{environment.domain}}/{{slug}}/">Visit</a></li>
	<li><a href="javascript:void(0)" id="version">Change Version</a></li>
	<li><a target="_blank" href="../apis/{{api_id}}">Edit API</a></li>
  <li><a target="_blank" href="../api_docs/{{id}}">View Documentation</a></li>
  </ul>
</div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">Main</a></li>
    <li id="resourcestab" role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
		<li id="permissionstab" role="presentation"><a href="#permissions" aria-controls="permissions" role="tab" data-toggle="tab">Permissions</a></li>
		<li id="optionstab" role="presentation"><a href="#options" aria-controls="options" role="tab" data-toggle="tab">Options</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="main" style="padding-top: 20px;"><div class="row"><div class="col-sm-9 main"></div><div class="col-sm-3"></div></div></div>
    <div role="tabpanel" class="tab-pane" id="resources" style="padding-top: 20px;"><div class="row"><div class="col-sm-9 resources"></div><div class="col-sm-3"></div></div></div>
	  <div role="tabpanel" class="tab-pane" id="permissions" style="padding-top: 20px;"><div class="row"><div class="col-sm-12 permissions"></div></div></div>
    <div role="tabpanel" class="tab-pane" id="options" style="padding-top: 20px;"><div class="row"><div class="col-sm-9 options"></div><div class="col-sm-3"></div></div></div>

</div>