<div class="row">
    <div class="col-sm-8 form-horizontal widget_container cobler_select cobler_container" id="editor"></div
    ><div class="col-sm-4">
        <button onclick="cb.deactivate()" class="fa fa-th btn btn-default pull-right" style="outline:none"></button>
        <div id="form"></div>
        <ul id="sortableList" class="list-group ">
            <li class="list-group-item" data-type="textbox">Text</li>
            <li class="list-group-item" data-type="select">Select</li>
            <li class="list-group-item" data-type="checkbox">Checkbox</li>
        </ul>
    </div>
</div>