<div class="panel-page">
	<section class="panel panel-default">
		<div id="mypanel" class="panel-body">
				<div class="row">

					<div class="col-md-6">		
						<!--div class="row" style="margin-bottom:20px;">
							<div class="col-xs-6">
								<a href="/admin/groups/{{id}}/members" class="btn btn-success" style="width:100%">
									<i class="fa fa-user"></i> Members <span class="badge">{{members_count.aggregate}}{{^members_count}}0{{/members_count}}</span>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="/admin/groups/{{id}}/admins" class="btn btn-danger" style="width:100%">
									<i class="fa fa-cogs"></i> Admins <span class="badge">{{admins_count.aggregate}}{{^admins_count}}0{{/admins_count}}</span>
								</a>
							</div>
						</div>
						<div class="row" style="margin-bottom:20px;">
							<div class="col-xs-6">
								<a href="/admin/groups/{{id}}/pages" class="btn btn-primary" style="width:100%">
									<i class="fa fa-page"></i> Pages <span class="badge">{{pages_count.aggregate}}{{^pages_count}}0{{/pages_count}}</span>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="/admin/groups/{{id}}/appinstances" class="btn btn-info" style="width:100%">
									<i class="fa fa-cubes"></i> App Instances <span class="badge">{{appinstances_count.aggregate}}{{^appinstances_count}}0{{/appinstances_count}}</span>
								</a>
							</div>
						</div>
						<div class="row" style="margin-bottom:20px;">
							<div class="col-xs-6">
								<a href="/admin/groups/{{id}}/endpoints" class="btn btn-default" style="width:100%">
									<i class="fa fa-crosshairs"></i> Endpoints <span class="badge">{{endpoints_count.aggregate}}{{^endpoints_count}}0{{/endpoints_count}}</span>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="/admin/groups/{{id}}/images" class="btn btn-default" style="width:100%">
									<i class="fa fa-image"></i> Images <span class="badge">{{images_count.aggregate}}{{^images_count}}0{{/images_count}}</span>
								</a>
							</div>
							<div class="col-xs-4">
								<a href="/admin/groups/{{id}}/links" class="btn btn-default" style="width:100%;background-color:lightgray;border-color:gray;" >
									<i class="fa fa-link"></i> Links <span class="badge">{{links_count.aggregate}}{{^links_count}}0{{/links_count}}</span>
								</a>
							</div>
						</div-->




						<div class="row">
							<div class="col-md-12">
									<ul class="list-group">
										<a href="/admin/groups/{{id}}/members" class="list-group-item list-group-item-success">
											<i class="fa fa-user text-success"></i> Members <span class="badge">{{members_count.aggregate}}{{^members_count}}0{{/members_count}}</span>
										</a>
										<a href="/admin/groups/{{id}}/admins" class="list-group-item list-group-item-danger">
											<i class="fa fa-lock text-danger"></i> Admins <span class="badge">{{admins_count.aggregate}}{{^admins_count}}0{{/admins_count}}</span>
										</a>
										<a href="/admin/groups/{{id}}/pages" class="list-group-item list-group-item-info">
											<i class="fa fa-file text-primary"></i> Pages <span class="badge">{{pages_count.aggregate}}{{^pages_count}}0{{/pages_count}}</span>
										</a>
										<a href="/admin/groups/{{id}}/appinstances" class="list-group-item list-group-item-info">
											<i class="fa fa-cubes text-info"></i> App Instances <span class="badge">{{appinstances_count.aggregate}}{{^appinstances_count}}0{{/appinstances_count}}</span>
										</a>
										<a href="/admin/groups/{{id}}/endpoints" class="list-group-item list-group-item-warning">
											<i class="fa fa-crosshairs text-warning"></i> Endpoints <span class="badge">{{endpoints_count.aggregate}}{{^endpoints_count}}0{{/endpoints_count}}</span>
										</a>
										<a href="/admin/groups/{{id}}/images" class="list-group-item">
											<i class="fa fa-image"></i> Images <span class="badge">{{images_count.aggregate}}{{^images_count}}0{{/images_count}}</span>
										</a>
										<a href="/admin/groups/{{id}}/links" class="list-group-item">
											<i class="fa fa-link"></i> Links <span class="badge">{{links_count.aggregate}}{{^links_count}}0{{/links_count}}</span>
										</a>
							</ul>
							</div>
						</div>

						<!--div class="row">
							<div class="col-md-12">
		
								<div class="panel panel-default">
							<div class="panel-heading"><a href="/admin/groups/{{id}}/links"><strong><span class="fa fa-link"></span> Links</strong></a></div>
							<ul class="list-group">
								{{#links}}
										<a target="_blank" href="{{link}}"  class="list-group-item">{{title}}</a>
								{{/links}}
							</ul>
							</div>
						</div-->
						<div class="row">
							<div class="col-md-6">


								<div class="panel panel-default">
						      <div class="panel-heading"><a href="/admin/groups/{{id}}/composites"><strong><span class="fa fa-puzzle-piece sort"></span> Composites</strong></a></div>
						      {{#composites.length}}<div class="panel-body">
										{{#composites}}
										<a class="label label-success" style="margin-bottom:5px;float:left" href="/admin/groups/{{group.id}}">{{group.slug}}</a><span style="float:left">&nbsp;</span>
										{{/composites}}
									</div>
									{{/composites.length}}
						    </div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-default">
						      <div class="panel-heading"><a href="/admin/groups/{{id}}/tags"><strong><span class="fa fa-tags"></span> Tags</strong></a></div>
					      		<ul class="list-unstyled list-info">
												{{#tags}}
												<li style="padding: 10px 10px 0;">
		                        <span class="icon fa fa-tag fa-fw"></span>
		                        <label>{{name}}</label>:&nbsp;{{value}}
		                    </li>  
												{{/tags}}
		                </ul>
						    </div>
						  </div>
						</div>
					</div>
					<div class="col-md-6">


						{{#pages_count}}
						<div class="panel panel-default">
				      <div class="panel-heading"><a href="/admin/groups/{{id}}/pages"><strong><span class="fa fa-files-o"></span> Pages</strong></a></div>
				      <ul class="list-group">
				      	{{#pages}}
				   				<a target="_blank" href="/page/{{group_slug}}/{{slug}}"  class="list-group-item">{{name}}</a>
				        {{/pages}}
				      </ul>
				    </div>
						{{/pages_count}}
						{{#appinstances_count}}
				    <div class="panel panel-default">
				      <div class="panel-heading"><a href="/admin/groups/{{id}}/appinstances"><strong><span class="fa fa-cubes"></span> App Instances</strong></a></div>
				      <ul class="list-group">
							{{#app_instances}}
								<div class="list-group-item">
									<a href="/admin/apps/{{app.id}}" class="label label-primary pull-right"><i class="fa fa-cube"></i> App</a>
									<a href="/admin/appinstances/{{id}}" class="label label-default pull-right" style="margin-right:10px;"><i class="fa fa-gear"></i> Config</a>
									<a href="/app/{{group_slug}}/{{slug}}" target="_blank">{{name}}</a>
								</div>
							{{/app_instances}}
				      </ul>
				    </div>
						{{/appinstances_count}}

					</div>
				</div>
		</div>
	</section>
</div>