<div class="cobler-li-content"></div>
<div class="btn-group parent-hover">
    <span class="remove-item btn btn-danger fa fa-trash-o" data-title="Remove"></span>
    <span class="duplicate-item btn btn-default fa fa-copy" data-title="Duplicate"></span>
</div>