{{#files}}{{^removed}}<a class="list-group-item tab filterable {{^disabled}}sortable{{/disabled}}" href="#{{key}}" name="{{key}}" aria-controls="{{key}}" data-toggle="tab">{{#disabled}}<i class="fa fa-ban"></i>{{/disabled}} {{name}}</a>{{/removed}}{{/files}}