<div class="row" >
		  <div class="col-sm-9">
		  <div class="tab-content"  style="padding:0 15px">
		    {{#items}}
			{{>pages_tabpanel}}
		    {{/items}}
		  </div></div>
		  <div class="col-sm-3" style="padding:5px 0 0;">
		  {{#editable}}
		    	{{#hasextra}}<a href="javascript:void(0);" class="pages_extra btn btn-default pull-right" ><i class="fa fa-gears"></i></a>{{/hasextra}}

				<div class="actions" style="height:40px">
				
				<div class="btn-group">
								<button type="button" class="btn  btn-info go pages_new">New <span class="">{{label}}</span></button>
								<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="javascript:void(0);" class="pages_edit" ><i class="fa fa-pencil"></i> Edit Name</a></li>
									<li><a href="javascript:void(0);" class="pages_delete" ><i class="fa fa-times"></i> Delete</a></li>
								</ul>
							</div>
				</div>

				  {{/editable}}

		  <div class="list-group" style="margin-right: 15px;">
			{{>pages_listgroupitem}}
		  </div>
		  </div>
		  <div class="dummyTarget"></div>
		</div>