<ol id="sorter" class="list-group" style="margin: -15px;">
{{#items}}
<li id="list_{{id}}" data-id="{{id}}" class="list-group-item filterable">
	<div class="sortableContent">
	<div class="handle"></div>
	{{name}}
	</div>
</li>
{{/items}}
</ol>