{{#users.length}}Click a user to take action{{/users.length}}<hr style="border:solid 1px #333">{{^users.length}}No results{{/users.length}}<div class="list-group">{{#users}}<a href="javascript:void(0);" class="list-group-item user" data-id="{{id}}">{{first_name}} {{last_name}}</a>{{/users}}</div>