<div class="list-group" id="workflow_developers" style='max-height:200px; overflow: scroll;'>
    {{#workflow_developers}}
        {{#workflow}}
            {{^deleted_at}}<a class="list-group-item filterable " href="/admin/workflows/{{workflow_id}}" target="_blank">{{name}}</a>{{/deleted_at}}
            {{#deleted_at}}<span class="list-group-item filterable  list-group-item-danger">{{name}}</span>{{/deleted_at}}
        {{/workflow}}
    {{/workflow_developers}}
</div>
{{^workflow_developers}}
    <div class="alert alert-warning">Not a Developer of any Workflows</div>
{{/workflow_developers}}