<div style="margin:40px 20px">
<div class="btn-group pull-right">
  <button type="button" class="btn btn-primary" id="save">Save</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
	<li><a href="/workflow/{{group.slug}}/{{slug}}">Visit</a></li>
	<li><a href="/admin/workflowinstances/{{id}}/report">View Report</a></li>
	<li><a href="javascript:void(0)" id="find">Find on Pages</a></li>
	<li><a href="javascript:void(0)" id="version">Change Version</a></li>
	<li><a href="/admin/workflows/{{workflow_id}}">Edit Workflow</a></li>
  </ul>
</div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">Main</a></li>
    <li id="configtab" role="presentation"><a href="#config" aria-controls="config" role="tab" data-toggle="tab">Config</a></li>
    <li id="datamaptab" role="presentation" style="display:none"><a href="#datamap" aria-controls="datamap" role="tab" data-toggle="tab">Data Map</a></li>
    <li id="resourcestab" role="presentation" style="display:none"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
		<li id="optionstab" role="presentation" style="display:none"><a href="#options" aria-controls="options" role="tab" data-toggle="tab">Options</a></li>
		<li id="useroptionstab" role="presentation" style="display:none"><a href="#user_options_default" aria-controls="useroptions" role="tab" data-toggle="tab">User Default Options</a></li>	
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="main" style="padding-top: 20px;"><div class="row"><div class="col-sm-9"></div>
      <div class="col-sm-3"></div>
    </div></div>
    <div role="tabpanel" class="tab-pane" id="config" style="padding-top: 20px;"><div class="row"><div class="col-sm-9 config"></div>
	    <div class="col-sm-3"></div>
    </div></div>
    <div role="tabpanel" class="tab-pane" id="datamap" style="padding-top: 20px;"><div class="row"><div class="col-sm-9 datamap"></div>
	    <div class="col-sm-3"></div>
    </div></div>
    <div role="tabpanel" class="tab-pane" id="resources" style="padding-top: 20px;"><div class="row"><div class="col-sm-9 resources"></div>
	    <div class="col-sm-3"></div>
    </div></div>
	  <div role="tabpanel" class="tab-pane" id="options" style="padding-top: 20px;"><div class="row"><div class="col-sm-9"></div>
      <div class="col-sm-3"></div>
    </div></div>
	  <div role="tabpanel" class="tab-pane" id="user_options_default" style="padding-top: 20px;"><div class="row"><div class="col-sm-9"></div>
      <div class="col-sm-3"></div>
    </div></div>
  </div>

</div>