.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: #d85e16;
  color:#eee;
}
div#flow-preview .label {
    color: #000 !important;
}
