/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.gr-main {
  padding: 20px;
}
@media (min-width: 768px) {
  .gr-main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.gr-main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*Modifications*/
body{
  background-color: #F0F0F4;
}

.gr-main {
  padding: 20px;
}

.navbar-brand{
  width: 200px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: #d85e16;
  color:#eee;
}

.gravatar {
  border-radius:4px;
  height:36px;
  width:36px;
  margin:-10px 5px -8px 0;
  border:solid 1px #ddd;
}

@media (min-width: 768px) {
  .sidebar {
    top:0;
    border-right: 0;
    padding: 0 20px;
    background-color: #273135;
    /*font-size: 16px;*/
    width:200px;
  }
  body .sidebar {
    top: 50px;
  }
  body#page #main-container{
    margin-left:200px;
  }
}

.navbar-inverse {
  background-color: #333;
}
.nav-sidebar li {
  border-bottom: 1px solid #444;
}
.nav-sidebar li > a {
  color: #89949B;
}
.nav-sidebar li a:hover,
.nav-sidebar li a:focus {
  background-color:rgba(0,0,0,0.2);
}

.nav-sidebar .active > a,
.nav-sidebar .active > a:hover,
.nav-sidebar .active > a:focus {
  color: #fff;
  background-color:rgba(0,0,0,0.4);
}

.nav-sidebar.nav li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-sidebar.nav  ul>li>a {
    padding-left: 25px;    
    text-decoration: none;
}

.nav-sidebar.nav ul li {
    margin-left: -40px;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #89949B;
  color: #CCD6DF;
  text-align: center;
}

#table > .well{margin-bottom:0 !important;}
.nivo-controlNav {
    display:none;
}
.theme-default .nivoSlider {
    margin-bottom: 20px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	/*background:url(arrows.png) no-repeat;*/
	background:#fff;
	border-radius:15px;
	/*text-indent:-9999px;*/
	/*text-indent:10px;*/
	border:0;
	border: solid 1px #fff;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  color:transparent;
}
.theme-default .nivo-directionNav a:before {
  content:"\f061";
  /*font-weight:bold;*/
  font-size:21px;
  font-family: FontAwesome, 'Open Sans', sans-serif;
  color:#666;
  position: absolute;
  top:-1px;
  left: 6px;
}
.theme-default:hover .nivo-directionNav a { opacity: .6; }
.theme-default a.nivo-nextNav {
	/*background*/-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}
.theme-default .nivo-directionNav a.nivo-prevNav:before {
  content:"\f060";
  left: 4px;
}
.editor .main:hover .cobler_container {
    min-height: 100px;
    outline: dashed 1px #aaa;
}

.widget > .parent-hover{
      z-index: 1;
}
.fa-toggle:before {
  content: "\f068";
}
.cob-collapsed .fa-toggle:before {
  content: "\f067";
}
#layout{
  display:none;
}
.editor #layout{
  display:initial;
}

/* Begin Bootstrap Callouts TJC Added 2/10/18 */
.callout {
  padding: 20px;
  margin: 20px 0;
  border-left: 3px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background-color:#fff;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
  border-radius: 3px;
}
.callout+.callout {
  margin-top: -5px;
}
.callout-default {
  border-left-color: #777;
  /* background-color: #f5f5f5; */
}
.callout-default h4 {
  color: #777;
}
.callout-primary {
  border-left-color: #428bca;
  /* background-color: #fff; */
}
.callout-primary h4 {
  color: #428bca;
}
.callout-success {
  border-left-color: #5cb85c;
  /* background-color: #dff0d8; */
}
.callout-success h4 {
  color: #5cb85c;
}
.callout-danger {
  border-left-color: #d9534f;
  /* background-color: #f2dede; */
}
.callout-danger h4 {
  color: #d9534f;
}
.callout-warning {
  border-left-color: #f0ad4e;
  /* background-color: #fcf8e3; */
}
.callout-warning h4 {
  color: #f0ad4e;
}
.callout-info {
  border-left-color: #5bc0de;
  /* background-color: #d9edf7; */
}
.callout-info h4 {
  color: #5bc0de;
}
/* End Bootstrap Callouts */



.parent-hover{visibility: hidden;}
*:hover > .parent-hover{visibility: visible;}
.cobler_container{list-style:none;/*padding-left:0;*/}
.cobler_container > li > .parent-hover{z-index: 10;opacity:.6;position:absolute;top:3px;right:3px;}
.cobler_container > li{position: relative;display: block;overflow:hidden;}
.cobler_container > li:hover{outline:dashed 1px #ccc;z-index: 1}
.cobler_container > li.sortable-chosen {outline:none;outline:dashed 1px #222;background:#fff;}
.cobler_container > li.sortable-ghost {opacity: 1;border:solid 0px #ccc;}
.cobler_container > li.sortable-ghost .parent-hover{display:none !important;}
.cobler_select.cobler_container > li:before{content:'';z-index: 10; position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.cobler_select.cobler_container > li.widget_active{outline: dashed 1px #222;z-index: 2;background:#FFFFF8;}
.cobler_select.cobler_container > li.sortable-ghost:before{background:#fff;}


.cobler_container > li.widget_active{outline: dashed 1px #999;z-index: 2;background:#FFFFF8;}


/*.opaque.cobler_container > li.sortable-ghost {opacity: 0;}
.opaque.cobler_container > li.sortable-fallback {opacity: 1 !important;overflow:initial;}
.opaque.cobler_container > li.sortable-chosen {outline:none;border:0;margin:0;background:none}
.opaque.cobler_container > li:hover .cobler-li-content{box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);}
.opaque.cobler_container > li.sortable-chosen .cobler-li-content{box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);}
.opaque.cobler_container > li:hover{outline:0;}*/

.cobler_container{min-height: 50px;}

.editor .editTools{display:none}
.editor .editTools.hidden{display:block !important;visibility: visible !important}


/*berryTables*/
[data-popins]{ border-bottom: 1px dotted;}
[data-popins]{cursor: pointer; }
/*[data-inline] .form-group{margin-bottom:0;}  */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
/*.ace_editor{height:500px}*/

.dupable{padding-left:60px;}
.dupable hr{
margin:5px 0px 5px -60px
}
.dupable .actions{
    position: absolute;
    left: 0;
}
#modal .dupable hr{
display:none;
}

.editor .slice,#sortableList a{
    cursor:move;
}
li.widget_active{cursor:default}

.note-editor.note-frame.fullscreen {
    top: 50px;
    left: 200px;
}
.sortable-ghost{padding:10px;color:#666;font-size:16px}
.nodisplay{display: none;}
[data-event=add].custom-event-all,[data-event=edit].custom-event-all,[data-event=delete].custom-event-all{display:none}

.list-group-item .handle{color:#aaa;width: 45px;background:#fcfdfc;text-align:center;border-right: solid 1px #eee;cursor:move;padding-top: 18px;padding-bottom: 18px;margin: -10px 20px -10px -15px;display: inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.list-group-item:hover .handle{background:#f8f8f8;color:#626262;}
.list-group-item .handle:before{
      content: "\f0c9";
}


.cob-collapsed .collapsible{display:none;}

.on-collapse{display:none;}
.editing .on-collapse, .cob-collapsed .on-collapse{display:block;}


/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.17.42
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */.bootstrap-datetimepicker-widget{list-style:none}.bootstrap-datetimepicker-widget.dropdown-menu{margin:2px 0;padding:4px;width:19em}@media (min-width:768px){.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs{width:38em}}@media (min-width:992px){.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs{width:38em}}@media (min-width:1200px){.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs{width:38em}}.bootstrap-datetimepicker-widget.dropdown-menu:before,.bootstrap-datetimepicker-widget.dropdown-menu:after{content:'';display:inline-block;position:absolute}.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before{border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);top:-7px;left:7px}.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after{border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid white;top:-6px;left:8px}.bootstrap-datetimepicker-widget.dropdown-menu.top:before{border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #ccc;border-top-color:rgba(0,0,0,0.2);bottom:-7px;left:6px}.bootstrap-datetimepicker-widget.dropdown-menu.top:after{border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid white;bottom:-6px;left:7px}.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before{left:auto;right:6px}.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after{left:auto;right:7px}.bootstrap-datetimepicker-widget .list-unstyled{margin:0}.bootstrap-datetimepicker-widget a[data-action]{padding:6px 0}.bootstrap-datetimepicker-widget a[data-action]:active{box-shadow:none}.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second{width:54px;font-weight:bold;font-size:1.2em;margin:0}.bootstrap-datetimepicker-widget button[data-action]{padding:6px}.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Increment Hours"}.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Increment Minutes"}.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Decrement Hours"}.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Decrement Minutes"}.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Show Hours"}.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Show Minutes"}.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Toggle AM/PM"}.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Clear the picker"}.bootstrap-datetimepicker-widget .btn[data-action="today"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Set the date to today"}.bootstrap-datetimepicker-widget .picker-switch{text-align:center}.bootstrap-datetimepicker-widget .picker-switch::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Toggle Date and Time Screens"}.bootstrap-datetimepicker-widget .picker-switch td{padding:0;margin:0;height:auto;width:auto;line-height:inherit}.bootstrap-datetimepicker-widget .picker-switch td span{line-height:2.5;height:2.5em;width:100%}.bootstrap-datetimepicker-widget table{width:100%;margin:0}.bootstrap-datetimepicker-widget table td,.bootstrap-datetimepicker-widget table th{text-align:center;border-radius:4px}.bootstrap-datetimepicker-widget table th{height:20px;line-height:20px;width:20px}.bootstrap-datetimepicker-widget table th.picker-switch{width:145px}.bootstrap-datetimepicker-widget table th.disabled,.bootstrap-datetimepicker-widget table th.disabled:hover{background:none;color:#777;cursor:not-allowed}.bootstrap-datetimepicker-widget table th.prev::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Previous Month"}.bootstrap-datetimepicker-widget table th.next::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Next Month"}.bootstrap-datetimepicker-widget table thead tr:first-child th{cursor:pointer}.bootstrap-datetimepicker-widget table thead tr:first-child th:hover{background:#eee}.bootstrap-datetimepicker-widget table td{height:54px;line-height:54px;width:54px}.bootstrap-datetimepicker-widget table td.cw{font-size:.8em;height:20px;line-height:20px;color:#777}.bootstrap-datetimepicker-widget table td.day{height:20px;line-height:20px;width:20px}.bootstrap-datetimepicker-widget table td.day:hover,.bootstrap-datetimepicker-widget table td.hour:hover,.bootstrap-datetimepicker-widget table td.minute:hover,.bootstrap-datetimepicker-widget table td.second:hover{background:#eee;cursor:pointer}.bootstrap-datetimepicker-widget table td.old,.bootstrap-datetimepicker-widget table td.new{color:#777}.bootstrap-datetimepicker-widget table td.today{position:relative}.bootstrap-datetimepicker-widget table td.today:before{content:'';display:inline-block;border:solid transparent;border-width:0 0 7px 7px;border-bottom-color:#337ab7;border-top-color:rgba(0,0,0,0.2);position:absolute;bottom:4px;right:4px}.bootstrap-datetimepicker-widget table td.active,.bootstrap-datetimepicker-widget table td.active:hover{background-color:#337ab7;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}.bootstrap-datetimepicker-widget table td.active.today:before{border-bottom-color:#fff}.bootstrap-datetimepicker-widget table td.disabled,.bootstrap-datetimepicker-widget table td.disabled:hover{background:none;color:#777;cursor:not-allowed}.bootstrap-datetimepicker-widget table td span{display:inline-block;width:54px;height:54px;line-height:54px;margin:2px 1.5px;cursor:pointer;border-radius:4px}.bootstrap-datetimepicker-widget table td span:hover{background:#eee}.bootstrap-datetimepicker-widget table td span.active{background-color:#337ab7;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}.bootstrap-datetimepicker-widget table td span.old{color:#777}.bootstrap-datetimepicker-widget table td span.disabled,.bootstrap-datetimepicker-widget table td span.disabled:hover{background:none;color:#777;cursor:not-allowed}.bootstrap-datetimepicker-widget.usetwentyfour td.hour{height:27px;line-height:27px}.bootstrap-datetimepicker-widget.wider{width:21em}.bootstrap-datetimepicker-widget .datepicker-decades .decade{line-height:1.8em !important}.input-group.date .input-group-addon{cursor:pointer}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
 

/* berry-wizard */ 
.berry-wizard .wizard {
	position:relative;
	overflow:hidden;
	background-color:#f9f9f9;
	border:1px solid #d4d4d4;
	border-radius:4px;
	*zoom:1;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,.065);
	box-shadow:0 1px 4px rgba(0,0,0,.065)
}
.berry-wizard .wizard:after,.berry-wizard .wizard:before {
	display:table;
	line-height:0;
	content:""
}
.berry-wizard .wizard:after { clear:both }
.berry-wizard .wizard ul {
	width:4000px;
	padding:0;
	margin:0;
	list-style:none outside none
}
.berry-wizard .wizard ul.previous-disabled li.complete {	cursor:default }
.berry-wizard .wizard ul.previous-disabled li.complete:hover {
	color:#356e35;
	cursor:default;
	background:#f3f4f5
}
.berry-wizard .wizard ul.previous-disabled li.complete:hover .chevron:before {
	border-left-color:#f3f4f5
}
.berry-wizard .wizard ul li {
	position:relative;
	float:left;
	height:46px;
	padding:0 20px 0 30px;
	margin:0;
	font-size:16px;
	line-height:46px;
	color:#999;
	cursor:default;
	background:#ededed
}
.berry-wizard .wizard ul li .chevron {
	position:absolute;
	top:0;
	right:-14px;
	z-index:1;
	display:block;
	border:24px solid transparent;
	border-right:0;
	border-left:14px solid #d4d4d4
}
.berry-wizard .wizard ul li .chevron:before {
	position:absolute;
	top:-24px;
	right:1px;
	display:block;
	border:24px solid transparent;
	border-right:0;
	border-left:14px solid #ededed;
	content:""
}
.berry-wizard .wizard ul li.complete {
	color:#468847;
	background:#f3f4f5
}
.berry-wizard .wizard ul li.complete:hover {
	cursor:pointer;
	background:#e7eff8
}
.berry-wizard .wizard ul li.complete:hover .chevron:before {
	border-left:14px solid #e7eff8
}
.berry-wizard .wizard ul li.complete .chevron:before {
	border-left:14px solid #f3f4f5
}
.berry-wizard .wizard ul li.active {
	color:#3a87ad;
	background:#f1f6fc
}
.berry-wizard .wizard ul li.active .chevron:before {
	border-left:14px solid #f1f6fc
}

.berry-wizard .wizard ul li.error {
	color:#eee;
	background:#B94A48
}
.berry-wizard .wizard ul li.error .chevron:before {
	border-left:14px solid #B94A48
}

.berry-wizard .wizard ul li .badge {
	margin-right:8px
}
.berry-wizard .wizard ul li:first-child {
	padding-left:20px;
	border-radius:4px 0 0 4px
}
.berry-wizard .step-content .step-pane
{
	display:none
}
.berry-wizard .step-content .active
{
	display:block
}
.berry-wizard .step-content .active .btn-group .active
{
	display:inline-block
}

a.popins{ border-bottom: 1px dotted #111;}
.popins{cursor: pointer; }

/* .btn.btn-success{background-color:#7BC143;} */

.txt-color-blueDark {color:#4377AE !important}
.rating i {
	padding: 0 1px;
	font-size: 19px;
	float:left;
}
.berry.popover .popover-content {
margin-bottom: -15px;
}
.berry.popover{
	max-width: none;min-width: 300px;
}
.berry.popover .popover-title{
	color:#797979;
}

.berry .tab-pane > fieldset > legend {
display: none;
}

form.berry.tab-content {margin-top: 20px;}

.editor .slice > div {
	min-height: 36px;
}

.slice .slice-label {
	position: absolute;
	top: -1px;
	left: -1px;
	background: #efefef;
	border: solid 1px #fff;
	color:#333;
	padding:3px;
}
.editor .slice:hover .label {
	z-index:-1
}
.slice  .slice-actions{position:absolute;top:3px;right:3px;z-index:6}
.panel-title a .fa-collapse:before{
  content:"\f107";
}
.panel-title a.collapsed .fa-collapse:before{
  content:"\f105";
}

table.table-fixed td{
	word-wrap:break-word;
}
.table-fixed{
	table-layout: fixed;
}
thead .form-group{margin-bottom:0;}

.cob-collapsed.widget > .panel >.panel-heading.hide{
	display:block !important;
}
.editor .widget_active> form{padding:10px}
.admin-main{padding:20px}




@media (min-width: 768px) {
  .admin-main{
    padding-left:220px;    
  }
}