<div class="row">

 <div class="col-md-12">
 <h4>Release Notes</h4>
 <ul class="list-group" style="margin:20px 0">
  {{#page.releases}}
  <li class="list-group-item"><a target="_blank" href="./{{link}}{{^link}}release{{/link}}.html">({{date}}) {{version}}</a></li>
  {{/page.releases}}
  </ul>
 </div>
</div>