<li class="border-r border-slate-500  pr-4 relative">
                <span data-id="notification-count" class="rounded-full  hidden absolute -top-1 right-2 px-1 text-xs text-white z-10 bg-red-500"></span>
                
    <a href="/workflows/assignments" role="button" class="pb-2" style="border-left:0;padding-bottom: 9px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-slate-200">
  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
</svg>
        </i> <span class="sr-only">Notifications</span>
    </a>
</li>